html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    height: 50px;
    background: linear-gradient(to right, #230c4c, #000000);
    border-bottom: 1px solid #e5e5e5;
    padding: 20px 0;
    display: flex;
    align-items: center;
}

header img {
    float: left;
    margin-left: 20px;
    width: 50px;
}

header h1,
header h2 {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
}

header h1 {
    margin-top: 0;
    float: left;
    width: auto;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    color: #feffff;
}


header h2 {
    margin-bottom: 0px;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #e7e5f579;
}

header nav {
    margin-top: 0;
    margin-left: auto; /* Aligns the nav to the right */
    margin-right: 20px;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

header nav a {
    display: inline-block;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #feffff;
    text-decoration: none;
}

#ValProp {
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    transition: all 0.5s ease-in-out;
    position: relative;
    overflow: hidden;
}

#VisMis {
    height: 100%;
    width: 100%;
    /* background-color: #00000000; */
    background: linear-gradient(to right, #000000 20%, rgba(134, 132, 132, 0.267));
    position: relative;
    z-index: 2; /* Higher z-index to make it appear on top */
}

@keyframes slideInh2 {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

#VisMis h2 {
    animation: slideInh2 5s ease-in-out;
    /* animation-delay: 10s; */
    align-items: left;
    justify-content: left;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
    line-height: 1;
    color: #410da9;
    text-align: left;
    margin-left: 25px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 50px;
}

@keyframes slideInp {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

#VisMis p {
    animation: slideInp 3s ease-in-out;
    width: 28%;
    align-items: left;
    justify-content: left;
    font-family: serif;
    font-size: 18px;
    font-weight: 400;
    font-family: Roboto;
    line-height: 1.5;
    color: #ffffff98;
    text-align: left;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 15px;
    background: rgba(73, 74, 75, 0.2);
    border-radius: 50px 10px;
    /* backdrop-filter: blur(10px); */
}

#CTA-button {
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #feffff;
    text-align: center;
    text-decoration: none;
    background-color:  #00a9ff;
    border: 1px solid #ffffff;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    text-shadow: #040404 2px 2px 2px !important;
}

#CTA-button:hover {
    background-color: #034afe;
}   

#Programs {
    background: linear-gradient(to top, #1c56a297 40%, rgba(3, 255, 255, 0.267));
    width: 100%;
}

#Programs h2 {
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 700;
    text-shadow: #000000 2px 2px 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
    color: #410da9;
    text-align: center;
    padding-top: 40px;
}

#ProgramsDiv {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;    
}

.Progtab {
    flex: 1;
    text-align: center;
    padding: 20px;
    margin: 10px;
}

@keyframes slideh3 {
    0% { transform: translateX(-50px); }
    100% { transform: translateX(20px); }
  }
  
  .Progtab h3 {
    animation-name: slideh3;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  

.Progtab h3 {
    margin-top: 0;
    color: #410da9;
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: #000000 2px 2px 2px;
}

.Progtab p {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto;
}

#Pastors {
   
    align-items: center;
    justify-content: center;
    /* background-color: #000000; */
    background: linear-gradient(to right, #c77dff, #bdc1dd, #98a9f3, #d6d0f5);
    width: 100%;   
}

#Pastors h2 {
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 700;
    text-shadow: #000000 2px 2px 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
    color: #410da9;
    text-align: center;
    padding-top: 40px;
}

#PastorsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;    
}

#Pstpara {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    align-items: left;
    justify-content: left;   
}

#Pastors p {
    margin-bottom: 0;
    margin-left: 150px;
    width: 60%;
    font-size: 22px;
    color: #000000;
    font-weight: bold;
    font-family: Roboto;
    font-style: italic;
    text-align: center;
    line-height: 1.5;
    background:rgba(73, 74, 75, 0.2);
    /* background-color: rgba(0, 0, 0, .2); */
    border-radius: 50px 10px;
    padding: 15px;
    box-shadow: 0px 0px 30px 0px #000000;
}

#PstNames {
    display: block;
    width: 30%;
    font-size: 25px;
    font-weight: 700;
    font-family: Roboto;
    font-style: italic;
    line-height: 1;
    color: #020202;
    text-shadow: #c106ff 1px 1px 1px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    margin-left: 280px;

}

#Pastors img {
    width: 30%;
    height: 100%;
    margin-right: 100px;
    object-fit: cover;
    border-radius: 5%;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 30px 0px #000000;
    margin-bottom: 10px;
    margin-top: 20px;
}

footer {
    width: 100%;
    height: 80px;
    background-color: #000000;
    border-top: 1px solid #e5e5e5;
    padding: 20px 0;
}

#footerDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

#footerDiv1 {
    width: 21%;
    padding: px 0;
    align-items: left;
    justify-content: left;
    margin-left: 0px;
}

#footerDiv h3,
#footerDiv2 h3,
#footerDiv3 h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #feffff;
    text-align: center;
    /* align-items: center;
    justify-content: center; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-shadow: #7a0484 2px 2px 2px;
}

#footerDiv1 p {
    width: 90%;
    margin-bottom: 0;
    font-size: 17px;
    font-weight: bold;
    font-family: Roboto;
    text-align: center;
    font-style: italic;
    line-height: 1.2;
    color: #ffffff;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#footerDiv2 {
    text-align: center;
    
}

footer a {
    /* margin-left: 20px; */
    font-size: 17px;
    font-weight: 700;
    line-height: 1;
    color: #feffff;
    text-decoration: none;
    font-style: italic;
    font-family: Roboto;
    text-align: center;
}

footer a:hover {
    color: #0059ff;
}

footer p {
    margin-bottom: 0;
    /* margin-right: 50px; */
    font-size: 17px;
    font-weight: bold;
    font-family: Roboto;
    text-align: center;
    line-height: 1;
    color: #ffffff;
    font-family: Roboto;
    font-style: italic;
}