html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: transparent;
}

header {
    height: 50px;
    background: linear-gradient(to right, #230c4c, #000000);
    border-bottom: 1px solid #e5e5e5;
    padding: 20px 0;
    display: flex;
    align-items: center;
}

header img {
    float: left;
    margin-left: 20px;
    width: 50px;
}

#headerh1h2 {
    /* display: flex; */
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
}

#titleh1 {
    float: left;
    /* width: auto; */
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #feffff;
}


#titleh2 {
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    color: #e8e7ed79;
}

header nav {
    margin-top: 0;
    margin-left: auto; /* Aligns the nav to the right */
    margin-right: 20px;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

header nav a {
    display: inline-block;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #feffff;
    text-decoration: none;
}

#ValProp {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    transition: all 0.5s ease-in-out;
    position: relative;
    overflow: hidden; */
}

#VisMis {
    flex: 1;
    height: 100%;
    width: 40%;
    /* background-color: #00000000; */
    /* background: linear-gradient(to right, #000000 80%, rgba(134, 132, 132, 0.267)); */
    position: relative;
    z-index: 20;
}

@keyframes slideInh2 {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

#VisMis h2 {
    width: 100%;
    animation: slideInh2 5s ease-in-out;
    /* animation-delay: 10s; */
    align-items: left;
    justify-content: left;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
    line-height: 1;
    color: #00a9ff;
    text-align: left;
    margin-left: 25px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 50px;
}

@keyframes slideInp {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

#VisMis p {
    animation: slideInp 3s ease-in-out;
    width: 25%;
    align-items: left;
    justify-content: left;
    font-family: serif;
    font-size: 18px;
    font-weight: 400;
    font-family: Roboto;
    line-height: 1.5;
    color: #ffffff98;
    text-align: left;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 15px;
    background: rgba(73, 74, 75, 0.2);
    border-radius: 50px 10px;
    /* backdrop-filter: blur(10px); */
}

#ValProp::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.267) 20%, #000000 80%);
    z-index: -1;
}

#ValProp {
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    transition: all 0.5s ease-in-out;
    position: relative;
    overflow: hidden;
    border: none;
    z-index: -20;
    margin-left: -1px;
}

.CTA-button {
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #feffff;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(to right, #0f162097, #00a9ff);
    border: 1px solid #ffffff;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    text-shadow: #040404 2px 2px 2px !important;
}

.CTA-button:hover {
    background: #0342fe;
}   

#Programs {
    background: linear-gradient(to top, #1c56a297 20%, rgba(3, 255, 255, 0.267));
    width: 100%;
}

#Programs h2 {
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    text-shadow: #000000 2px 2px 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    line-height: 1;
    color: #00a9ff;
    text-align: center;
    padding-top: 40px;
}

#ProgramsDiv {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;    
}

.Progtab {
    flex: 1;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

@keyframes slideh3 {
    0% { transform: translateX(-30px); }
    100% { transform: translateX(20px); }
  }
  
  .Progtab h3 {
    animation-name: slideh3;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
    margin-top: 0;
    color: #410da9;
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: #000000 2px 2px 2px;
  }
  
.Progtab p {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto;
}

#upcomingEvents {
    width: 100%;
    /* background-color: #ffffff; */
    background: linear-gradient(to left, #05acfa, #98a9f3, #602d5f);
}

#upcomingEvents h2 {
    display: block;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 700;
    text-shadow: #000000 2px 2px 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    line-height: 1;
    color: #00a9ff;
    text-align: center;
    padding-top: 40px;
}

#shilohEvent {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    align-items: center;
    /* justify-content: center; */
}

.event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-bottom: 10px;
    text-align: center;
}

#eventP h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    color: #ffffff;
    text-align: left;
    font-family: Roboto;
    /* font-style: italic; */
    text-shadow: #000000 2px 2px 2px;
}

.event img {
    width: 50%;
    object-fit: cover;
    /* border-radius: 5%; */
    /* border: 1px solid #ffffff; */
    box-shadow: 0px 0px 30px 0px #000000;
    margin-bottom: 10px;
    /* margin-left: 50px; */
}

#eventP {
    width: 35%;
    font-size: 26px;
    font-weight: bold;
    font-family: Roboto;
    font-style: italic;
    line-height: 1;
    color: #000000;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    margin-left: 0px;
    /* margin-right: 50px; */
}

#sermonsh2 h2 {
    display: block;
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 40px;
    font-weight: 700;
    text-shadow: #000000 2px 2px 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    line-height: 1;
    color: #00a9ff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(to left, #c77dff, #98a9f3, #d6d0f5, #3d5a80);
}

#Audiosection {
    justify-content: space-evenly;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    margin-top: 0;
    margin-bottom: 0;
    /* background-color: #ffffff; */
    background: linear-gradient(to left, #c77dff, #98a9f3, #d6d0f5, #3d5a80);
}

#audioContainer {
    display: flex;
    flex-direction: row;
}

.audio-item {
    width: 100%;
    padding: 5px;
    border-radius: 5%;
    /* border: 1px solid #ffffff;
    box-shadow: 0px 0px 30px 0px #000000; */
}

#Audiosection p {
    /* margin-bottom: 0; */
    font-size: 16px;
    font-weight: bold;
    font-family: Roboto;
    font-style: italic;
    line-height: 1;
    color: #000000;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    /* padding-top: 20px; */
}

#VideoSection {
    /* padding-top: 10px; */
    padding-left: 20px;
    /* padding-bottom: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 100%; */
    height: 400px;
    /* background-color: #ffffff; */
    background: linear-gradient(to bottom, #000000, #1a5f81, #000000);

}

#Video {
    border-radius: 20px;
    margin-left: 5%;
    width: 50%;
    height: 100%;
}

#Partners {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    /* height: 80%; */
}

#Partners h1 {
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 700;
    text-shadow: #ffffff 1px 1px 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    line-height: 1;
    color: #00a9ff;
    text-align: center;
    padding-top: 20px;
}

#Partners img {
    /* width: 100%; */
    height: 60%;
    margin-bottom: 10px;
    margin-top: 10px;
    object-fit: cover;
    border-radius: 5%;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 30px 0px #000000;

}
#Pastors {
   
    align-items: center;
    justify-content: center;
    /* background-color: #000000; */
    background: linear-gradient(to right, #c77dff, #bdc1dd, #98a9f3, #d6d0f5);
    width: 100%;   
}

#Pastors h2 {
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    text-shadow: #000000 2px 2px 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    line-height: 1;
    color: #00a9ff;
    text-align: center;
    padding-top: 40px;
}

#PastorsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;    
}

#Pstpara {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    align-items: left;
    justify-content: left;   
}

#Pastors p {
    margin-bottom: 0;
    margin-left: 150px;
    width: 60%;
    font-size: 22px;
    color: #000000;
    font-weight: bold;
    font-family: Roboto;
    font-style: italic;
    text-align: center;
    line-height: 1.5;
    background:rgba(73, 74, 75, 0.2);
    /* background-color: rgba(0, 0, 0, .2); */
    border-radius: 50px 10px;
    padding: 15px;
    box-shadow: 0px 0px 30px 0px #000000;
}

#PstNames {
    display: block;
    width: 30%;
    font-size: 25px;
    font-weight: 700;
    font-family: Roboto;
    font-style: italic;
    line-height: 1;
    color: #020202;
    text-shadow: #c106ff 1px 1px 1px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    margin-left: 280px;

}

#Pastors img {
    width: 30%;
    height: 100%;
    margin-right: 100px;
    object-fit: cover;
    border-radius: 5%;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 30px 0px #000000;
    margin-bottom: 10px;
    margin-top: 20px;
    /* image-rendering: crisp-edges; */
}

#MapTxt {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-evenly;
}
#MapHeader {
    display: flex;
    flex-direction: column;
    /* justify-content: left; */
    /* align-items: left; */
    background-color: #ffffff;
    /* background: linear-gradient(to right, #c77dff, #bdc1dd, #98a9f3, #d6d0f5); */
    width: 100%;
}

#MapHeader h2 {
    /* display: block; */
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    text-shadow: #c106ff 1px 1px 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    line-height: 1;
    color: #070707;
    text-align: center;
    margin-right: 70px;
    padding-top: 20px;
}

#map {
    /* flex: 1; */
    height: 100%;
}

iframe {
    width: 90%;
    height: 450px;
    border: 1px solid #000000;
    border-radius: 5px;
}

#Textbox {
    display: flex;
    flex-direction: column;
    /* justify-content: left; */
    /* align-items: left; */
    background-color: #ffffff;
    /* background: linear-gradient(to right, #c77dff, #bdc1dd, #98a9f3, #d6d0f5); */
    width: 60%;

}

#Textbox h3 {
    text-align: center;
    margin-right: 110px;
    font-style: italic;
    text-shadow: #c106ff 1px 1px 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    margin-right: 80px;
    /* justify-content: center; */
    /* align-items: center; */
}

input {
    padding: 10px;
    border: 1px solid #999;
    background-color: #f5f5f5; 
    border-radius: 4px;
} 

label {
    font-weight: bold;
    text-align: left;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 5px;
}

textarea {
    padding: 10px;
    border: 1px solid #999;
    background-color: #f5f5f5; 
    border-radius: 4px;
    resize: none;
    height: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form button {
    margin-right: 80px;
}

footer {
    width: 100%;
    background-color: #000000;
    border-top: 1px solid #e5e5e5;
    padding: 20px 0;
}

#footerDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

#footerDiv1 {
    padding: px 0;
    align-items: left;
    justify-content: left;
    margin-left: 0px;
}

#footerDiv h3,
#footerDiv2 h3,
#footerDiv3 h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #feffff;
    text-align: center;
    /* align-items: center;
    justify-content: center; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-shadow: #7a0484 2px 2px 2px;
}

#footerDiv1 p {
    width: 90%;
    margin-bottom: 0;
    font-size: 17px;
    font-weight: bold;
    font-family: Roboto;
    text-align: center;
    font-style: italic;
    line-height: 1.2;
    color: #ffffff;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#footerDiv2 {
    text-align: center;
    
}

footer a {
    /* margin-left: 20px; */
    font-size: 17px;
    font-weight: 700;
    line-height: 1;
    color: #feffff;
    text-decoration: none;
    font-style: italic;
    font-family: Roboto;
    text-align: center;
}

footer a:hover {
    color: #0059ff;
}

.socialsicon {
    width: 5%;
    margin-right: 5px;
}

footer p {
    margin-bottom: 0;
    /* margin-right: 50px; */
    font-size: 17px;
    font-weight: bold;
    font-family: Roboto;
    text-align: center;
    line-height: 1;
    color: #ffffff;
    font-family: Roboto;
    font-style: italic;
}

/* Default Styles */
body {
    font-size: 16px;
}
/* Mobile */
@media (max-width: 480px) {
    header {
        padding: 20px 0;
    }

    #titleh1 {
        font-size: 10px;
        margin-left: 5px;
    }

    #titleh2 {
        font-size: 8px;
        margin-left: 5px;
    }

    header img {
        margin-left: 10px;
        width: 40px;
    }

    header nav {
        margin-right: 10px;
    }

    header nav a {
        font-size: 10px;
        margin-left: auto; /* Aligns the nav to the right */
        margin-right: 7px;
    }

    #VisMis h2 {
        font-size: 20px;
    }

    #VisMis p {
        width: 21%;
        font-size: 10px;
        border-radius: 15px 10px;
        line-height: 1;
        padding: 5px;
        align-items: center;
        justify-content: center;
    }

    #ValProp {
        background-position: bottom;
    }

    .CTA-button {
        margin-left: 30px;
        margin-top: 50px;
        font-size: 10px;
    }

    #Programs h2 {
        font-size: 24px;
    }

    #ProgramsDiv {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        /* align-items: center; */
        width: 100%;    
    }

    @keyframes slideh3 {
        0% { transform: translateX(-10px); }
        100% { transform: translateX(30px); }
    }

    .Progtab h3 {
        width: 90%;
        animation-name: slideh3;
        font-size: 18px;
        text-shadow: #000000 1px 1px 1px;
    }

    .Progtab {
        flex: none;
        margin: 0px;
    }

    .Progtab p {
        font-size: 14px;
    }

    #upcomingEvents h2 {
        font-size: 24px;
    }

    #shilohEvent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .event img {
        width: 100%;
    }

    #eventP h3 {
        font-size: 20px;
        text-align: center;
    }

    #eventP {
        width: 80%;
    }

    #eventP p {
        font-size: 16px;
    }

    #sermonsh2 h2 {
        font-size: 24px;
    }

    #Audiosection {
        width: 100%;
        overflow-x: scroll;
        white-space: nowrap;
        margin-top: 0;
        margin-bottom: 0;
    }

    #VideoSection {
        height: 600px;
        flex-direction: column;
        padding-left: 0;
    }

    #Video {
        width: 100%;
        height: 50%;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        border-radius: 0;
    }

    #Partners {
        display: flex;
        flex-direction: column;
        margin-right: 0;
        height: 50%;
    }

    #Partners h1 {
        font-size: 24px;
    }

    #Partners img {
        width: 140px;
        height: 100px;
        /* margin-left: 20%; */
        border-radius: 0%;
        align-self: center;
    }

    #PastorsDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #Pstpara {
        display: flex;
        /* flex-direction: row; */
        /* justify-content: space-between; */
        /* width: 100%; */
        margin-top: 0;
        margin-bottom: 0;
        align-items: center;
        justify-content: center;   
    }

    #Pastors h2 {
        font-size: 24px;
    }

    #PstNames {
        width: 80%;
        font-size: 20px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 10px;
        margin-bottom: 0;
        padding-top: 0;
        text-align: center;
    }

    #Pastors p {
        width: 80%;
        font-size: 14px;
        margin-left: 0;
    }

    #Pastors img {
        width: 40%;
        align-items: center;
        margin-right: 0;
    }

    #MapTxt {
        display: flex;
        flex-direction: column;
    }

    #MapHeader h2 {
        font-size: 16px;
        margin-right: 0;
    }

    iframe {
        width: 100%;
        height: 300px;
    }

    #Textbox {
        display: none;
    }

    #footerDiv {
        display: flex;
        flex-direction: column;
    }

    #footerDiv1,
    #footerDiv2,
    #footerDiv3 {
        margin: 10px;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }

    #footerDiv h3,
    #footerDiv2 h3,
    #footerDiv3 h3 {
        font-size: 14px;
    }

    #footerDiv1 p {
        /* width: 80%; */
        font-size: 14px;
        padding-left: 20px;
        padding-bottom: 20px;
    }

    footer p,
    footer a {
        font-size: 14px;
    }

    footer ul {
        margin: auto;
    }

    .socialsicon {
        width: 5%;
        margin-right: 5px;
    }
}

/* Mobile phones */
@media (min-width: 481px) and (max-width: 575px) {
    header {
        padding: 20px 0;
    }

    #titleh1 {
        font-size: 16px;
    }

    #titleh2 {
        font-size: 12px;
    }

    header img {
        width: 50px;
    }

    #Programs h2 {
        font-size: 24px;
    }

    #ProgramsDiv .Progtab h3 {
        font-size: 20px;
    }

    #Audiosection {
        display: none;
    }

    #Partners h1 {
        font-size: 24px;
    }

    #Partners img {
        height: 70%;
    }

    #Pastors h2 {
        font-size: 24px;
    }

    #Pastors p {
        font-size: 16px;
    }

    #Pastors img {
        width: 40%;
    }

    #MapHeader h2 {
        font-size: 16px;
    }

    iframe {
        height: 300px;
    }

    #Textbox h3 {
        font-size: 16px;
    }

    form button {
        margin-right: 0;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    header {
        padding: 30px 0;
    }

    #titleh1 {
        font-size: 20px;
    }

    #titleh2 {
        font-size: 14px;
    }

    header img {
        width: 60px;
    }

    #Programs h2 {
        font-size: 28px;
    }

    #ProgramsDiv .Progtab h3 {
        font-size: 24px;
    }

    #Partners h1 {
        font-size: 28px;
    }

    #Partners img {
        height: 70%;
    }

    #Pastors h2 {
        font-size: 28px;
    }

    #Pastors p {
        font-size: 18px;
    }

    #Pastors img {
        width: 40%;
    }

    #MapHeader h2 {
        font-size: 16px;
    }

    iframe {
        height: 300px;
    }

    #Textbox h3 {
        font-size: 16px;
    }

    form button {
        margin-right: 0;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px){
    #headerh1h2 {
        flex-direction: row;
    }

    #titleh1 {
        font-size: 15px;
    }

    #titleh2 {
        font-size: 13px;
    }

    header img {
        width: 70px;
    }

    #VisMis h2 {
        font-size: 30px;
    }

    #VisMis p {
        font-size: 16px;
    }

    .CTA-button {
        margin-top: 20px;
    }

    #Programs h2 {
        font-size: 36px;
    }

    #ProgramsDiv .Progtab h3 {
        font-size: 20px;
    }

    .Progtab p {
        font-size: 16px;
    }

    .event img {
        width: 80%;
    }

    #eventP h3 {
        font-size: 30px;
    }

    #eventP {
        width: 50%;
        font-size: 20px;
    }

    #Audiosection {
        width: 50%;
    }


    #VideoSection {
        /* height: 600px; */
        width: 100%;
    }

    #Partners h1 {
        font-size: 36px;
    }

    #Partners img {
        /* height: 80%; */
        margin-left: 10px;
    }

    #Pastors h2 {
        font-size: 36px;
    }

    #Pastors p {
        font-size: 24px;
        margin-left: 10px;
        width: auto;
    }

    #PstNames {
        width: auto;
        font-size: 20px;
        margin-left: 10px;
        /* margin-right: 10px; */
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 0;
        /* text-align: left; */
    }

    #Pastors img {
        width: 40%;
        margin-right: 10px;
        margin-left: 5px;
    }

    #MapHeader h2 {
        font-size: 20px;
    }

    iframe {
        height: 500px;
    }

    #Textbox h3 {
        font-size: 20px;
    }

    form button {
        margin-right: 0;
    }

    footer h3 {
        font-size: 16px;
    }

    footer p,
    footer a,
    #footerDiv1 p {
        font-size: 14px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    #titleh1 {
        font-size: 28px;
    }

    #titleh2 {
        font-size: 20px;
    }

    header img {
        width: 90px;
    }

    #Programs h2 {
        font-size: 40px;
    }

    #ProgramsDiv .Progtab h3 {
        font-size: 36px;
    }

    #VideoSection {
        height: 800px;
    }

    #Partners h1 {
        font-size: 40px;
    }

    #Partners img {
        height: 70%;
    }

    #Pastors h2 {
        font-size: 40px;
    }

    #Pastors p {
        font-size: 28px;
    }

    #Pastors img {
        width: 50%;
    }

    #MapHeader h2 {
        font-size: 28px;
    }

    iframe {
        height: 700px;
    }

    #Textbox h3 {
        font-size: 24px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {
    header {
        padding: 40px 0;
    }

    #titleh1 {
        font-size: 32px;
    }

    #titleh2 {
        font-size: 24px;
    }

    header img {
        width: 100px;
    }

    #Programs h2 {
        font-size: 48px;
    }

    #ProgramsDiv .Progtab h3 {
        font-size: 42px;
    }

    #VideoSection {
        height: 1000px;
    }

    #Partners h1 {
        font-size: 48px;
    }

    #Partners img {
        height: 60%;
    }

    #Pastors h2 {
        font-size: 48px;
    }

    #Pastors p {
        font-size: 32px;
    }

    #Pastors img {
        width: 60%;
    }

    #MapHeader h2 {
        font-size: 32px;
    }

    iframe {
        height: 800px;
    }

    #Textbox h3 {
        font-size: 28px;
    }
} */
