html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: linear-gradient(to right, #00a9ff, #3d5a80, #00a9ff, #7b2cbf);
}

header {
    height: 50px;
    background: linear-gradient(to right, #230c4c, #000000);
    border-bottom: 1px solid #e5e5e5;
    padding: 20px 0;
    display: flex;
    align-items: center;
}

header img {
    float: left;
    margin-left: 20px;
    width: 50px;
}

#headerh1h2 {
    /* display: flex; */
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
}

#titleh1 {
    float: left;
    /* width: auto; */
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #feffff;
}


#titleh2 {
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    color: #e8e7ed79;
}

header nav {
    margin-top: 0;
    margin-left: auto; /* Aligns the nav to the right */
    margin-right: 20px;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

header nav a {
    display: inline-block;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #feffff;
    text-decoration: none;
}

#About {
    width: 90%;
    margin: auto;
}

#About h1 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    /* color: #ffffff; */
    line-height: 1.5;
    /* text-align: center; */
    text-shadow: #ffffff 2px 2px 2px;
}

#About p,
#About li {
    color: #ffffff;
    line-height: 1.5;
}

#About li {
    color: #000000;
    line-height: 1.5;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

#Pastors {
    display: flex;
    flex-direction: row;
}

.Pastor-names {
    display: flex;
    flex-direction: column;
}

#Pastors img {
    width: 60%;
    /* margin: auto; */
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    box-shadow: 30px 30px 30px 30px #000000;
}

.Pastor-names p {
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: center; */
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: #000000;
    line-height: 1.5;
    text-shadow: #000000 2px 2px 2px;
    /* margin: auto; */
}
 
footer {
    position: sticky;
    width: 100%;
    background-color: #000000;
    border-top: 1px solid #e5e5e5;
    padding: 20px 0;
    bottom: 0;
}

#footerDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

#footerDiv1 {
    padding: px 0;
    align-items: left;
    justify-content: left;
    margin-left: 0px;
}

#footerDiv h3,
#footerDiv2 h3,
#footerDiv3 h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #feffff;
    text-align: center;
    /* align-items: center;
    justify-content: center; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-shadow: #7a0484 2px 2px 2px;
}

#footerDiv1 p {
    width: 90%;
    margin-bottom: 0;
    font-size: 17px;
    font-weight: bold;
    font-family: Roboto;
    text-align: center;
    font-style: italic;
    line-height: 1.2;
    color: #ffffff;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#footerDiv2 {
    text-align: center;
    
}

footer a {
    /* margin-left: 20px; */
    font-size: 17px;
    font-weight: 700;
    line-height: 1;
    color: #feffff;
    text-decoration: none;
    font-style: italic;
    font-family: Roboto;
    text-align: center;
}

footer a:hover {
    color: #0059ff;
}

.socialsicon {
    width: 5%;
    margin-right: 5px;
}

footer p {
    margin-bottom: 0;
    /* margin-right: 50px; */
    font-size: 17px;
    font-weight: bold;
    font-family: Roboto;
    text-align: center;
    line-height: 1;
    color: #ffffff;
    font-family: Roboto;
    font-style: italic;
}

/* Mobile */
@media (max-width: 480px) {
    header {
        padding: 20px 0;
    }

    #titleh1 {
        font-size: 10px;
        margin-left: 5px;
    }

    #titleh2 {
        font-size: 8px;
        margin-left: 5px;
    }

    header img {
        margin-left: 10px;
        width: 40px;
    }

    header nav {
        margin-right: 10px;
    }

    header nav a {
        font-size: 10px;
        margin-left: auto; /* Aligns the nav to the right */
        margin-right: 7px;
    }

    #About p,
    #About li {
        font-size: 13px;
    }

    #Pastors img {
        width: 80%;
        /* margin: auto; */
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #ffffff;
        box-shadow: 10px 10px 10px 10px #000000;
    }
    
    .Pastor-names p {
        /* align-items: center; */
        /* justify-content: center; */
        /* text-align: center; */
        font-size: 10px;
        font-family: sans-serif;
        font-weight: bold;
        color: #000000;
        line-height: 1.5;
        text-shadow: #000000 2px 2px 2px;
        /* margin: auto; */
    }

    footer {
        position: relative; /* Sticky footer position */
    }

    #footerDiv {
        display: flex;
        flex-direction: column;
    }

    #footerDiv1,
    #footerDiv2,
    #footerDiv3 {
        margin: 10px;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }

    #footerDiv h3,
    #footerDiv2 h3,
    #footerDiv3 h3 {
        font-size: 14px;
    }

    #footerDiv1 p {
        /* width: 80%; */
        font-size: 14px;
        padding-left: 20px;
        padding-bottom: 20px;
    }

    footer p,
    footer a {
        font-size: 14px;
    }

    footer ul {
        margin: auto;
    }

    .socialsicon {
        width: 5%;
        margin-right: 5px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 481px) and (max-width: 767px) {
    header {
        padding: 30px 0;
    }

    #titleh1 {
        font-size: 15px;
    }

    #titleh2 {
        font-size: 12px;
    }

    header img {
        width: 60px;
    }

    #Programs h2 {
        font-size: 28px;
    }

    #ProgramsDiv .Progtab h3 {
        font-size: 24px;
    }

    #Partners h1 {
        font-size: 28px;
    }

    #Partners img {
        height: 70%;
    }

    #Pastors h2 {
        font-size: 28px;
    }

    #Pastors p {
        font-size: 18px;
    }

    #Pastors img {
        width: 40%;
    }

    #MapHeader h2 {
        font-size: 16px;
    }

    iframe {
        height: 300px;
    }

    #Textbox h3 {
        font-size: 16px;
    }

    form button {
        margin-right: 0;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px){
    #headerh1h2 {
        flex-direction: row;
    }

    #titleh1 {
        font-size: 24px;
    }

    #titleh2 {
        font-size: 18px;
    }

    header img {
        width: 70px;
    }

    #Programs h2 {
        font-size: 36px;
    }

    #ProgramsDiv .Progtab h3 {
        font-size: 30px;
    }

    #VideoSection {
        height: 600px;
    }

    #Partners h1 {
        font-size: 36px;
    }

    #Partners img {
        height: 80%;
    }

    #Pastors h2 {
        font-size: 36px;
    }

    #Pastors p {
        font-size: 24px;
    }

    #Pastors img {
        width: 40%;
    }

    #MapHeader h2 {
        font-size: 24px;
    }

    iframe {
        height: 500px;
    }

    #Textbox h3 {
        font-size: 20px;
    }

    form button {
        margin-right: 0;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    #titleh1 {
        font-size: 28px;
    }

    #titleh2 {
        font-size: 20px;
    }

    header img {
        width: 90px;
    }

    #Programs h2 {
        font-size: 40px;
    }

    #ProgramsDiv .Progtab h3 {
        font-size: 36px;
    }

    #VideoSection {
        height: 800px;
    }

    #Partners h1 {
        font-size: 40px;
    }

    #Partners img {
        height: 70%;
    }

    #Pastors h2 {
        font-size: 40px;
    }

    #Pastors p {
        font-size: 28px;
    }

    #Pastors img {
        width: 50%;
    }

    #MapHeader h2 {
        font-size: 28px;
    }

    iframe {
        height: 700px;
    }

    #Textbox h3 {
        font-size: 24px;
    }
}